h1 {
    font-family: 'Roboto' , sans-serif;
    text-align: center;
}

.wordGenerator {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #c1d4f5;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}

#generateWords {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 21px;
}

#words {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 1.5em;
    opacity: 0.5;
    background-color: #d4d5d6;
    text-transform: capitalize;
    word-spacing: 5px;
    word-wrap: normal;
}